In [1]:
import mysql.connector as sql
connection = sql.connect(
    host = "localhost",
    user = "root",
    password="Sudee@334"
)
print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000025F82572B80>

In [3]:
cursor = connection.cursor()
cursor.execute("CREATE DATABASE mydatabase1")

In [4]:
cursor.execute("SHOW DATABASES")

In [5]:
for database in cursor:
    print(database)

('exa',)
('external',)
('information_schema',)
('mydatabase',)
('mydatabase1',)
('mysql',)
('performance_schema',)
('r19cs334',)
('sakila',)
('sys',)
('world',)

In [7]:
cursor.execute("DROP DATABASE r19cs334")

In [8]:
cursor.execute("SHOW DATABASES")

In [9]:
for database in cursor:
    print(database)

('exa',)
('external',)
('information_schema',)
('mydatabase',)
('mydatabase1',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [10]:
import mysql.connector as sql
connection = sql.connect(
    host = "localhost",
    user = "root",
    password="Sudee@334",
    database="mydatabase1"
)
print(connection)

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000025F828A0070>

In [11]:
#create table in mysql using python
cursor = connection.cursor()
cursor.execute("CREATE TABLE STUDENT(id int auto_increment primary key , name varchar(25),subject varchar(25))")

In [12]:
# insert the record
query = "INSERT INTO STUDENT(name,subject) VALUES(%s,%s)"
values = ("sudeep","CSE")
cursor.execute(query,values)
print("row inserted",cursor.lastrowid)

row inserted 1

In [13]:
query = "INSERT INTO STUDENT(name,subject) VALUES(%s,%s)"
values = [("suman","biology"),
         ("veeresh","chemisrty"),
         ("yashas","electronics")]
cursor.executemany(query,values)
print("row inserted",cursor.lastrowid)

row inserted 2

In [14]:
cursor.execute("select * from student")

In [15]:
cursor.fetchall()

[(1, 'sudeep', 'CSE'),
 (2, 'suman', 'biology'),
 (3, 'veeresh', 'chemisrty'),
 (4, 'yashas', 'electronics')]

In [16]:
cursor.fetchone()

In [17]:
#accessing the perticular row
cursor.execute("select * from student where name='sudeep'")

In [18]:
cursor.fetchall()

[(1, 'sudeep', 'CSE')]

In [19]:
cursor.execute("select subject from student")
cursor.fetchall()

[('CSE',), ('biology',), ('chemisrty',), ('electronics',)]

In [20]:
cursor.execute("select distinct subject from student")
cursor.fetchall()

[('CSE',), ('biology',), ('chemisrty',), ('electronics',)]